html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    margin: 0px;
    overflow: hidden;
}
/* 导航栏 */
#top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: black 1px solid;
}
/*左导航栏*/
#nav-left{
    display: flex;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 45px;
}
#nav-left::before{
    content: " ";
    background-image: url('../data/logo-outline.png');
    background-repeat: round;
    width: 172px;
    margin-inline: 30px;
}
#nav-left > li{
    text-align: center;
    /* border-right: white 1px solid; */
    line-height: 45px;
    padding-inline: 30px;
    font-size: medium;
}
/*右导航栏*/
#nav-right{
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 50px;
}
/*登录面板*/
#login-menu{
    display: none;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
#login-menu > li{
    border-left: black 1px solid;
    height: 100%;
    line-height: 60px;
    padding-inline: 20px;
    font-size: medium;
}
/*用户面板*/
#user-menu{
    display: flex;
    height: 100%;
    justify-content: end;
}
#user-menu > *{
    margin: 0;
    font-size: medium;
}
#user-head{
    height: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-inline: 10px;
    border-radius: 50%;
    align-self: center;
}
#user-menu > button{
    margin: 3px 5px;
    height: 30px;
    align-self: center;
}
#user-menu > p{
    padding: 15px 2px;
    width: 80px;
}
#user-dropdown:hover>#user-dropdown-content,#user-dropdown-content:hover{
    display: flex;
    opacity: 1;
}
#user-dropdown{
    height: 100%;
    position: relative;
    opacity: 1;
}
#user-dropdown-content{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-block: 5px;
    width: 180px;
    opacity: 0;
}
#menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0;
    margin: 0;
}
/*内容*/
#content{
    flex-grow: 1;
    border-width: 0;
    padding: 0;
    margin: 0;
}

/*引导*/
#guide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.tooltip{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.tooltip>*{
    margin-top: 10px;
}
.tooltip p{
    color: white;
    margin: 0;
}
.tooltip>button{
    align-self: flex-end;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    cursor: pointer;
}
.tooltip>button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

#first{
    left: 200px;
    top: 70px;
}
#second{
    left: 310px;
    top: 70px;
}
#third{
    right: 120px;
    top:70px;
}
#fourth{
    right: 40px;
    top:70px;
}
.tooltip::before{
    content: " ";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
    border-style: solid;
    top: -20px;
    right: 50px;
}