/*form*/
#top{
    background-color: #1F1F2B;
    border-bottom: black 0px solid;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#top *{
    color: #dfe6e9;  
}
#nav-left>li{
    width: 50px;
}
#nav-left>li:hover{
    transition: 0.3s;
    background-color: #6c5ce7;
    cursor: pointer;
}
#nav-left>li.active{
    display: flex;
    flex-direction: column;
}
#nav-left>li.active::after{
    position: relative;
    align-self: center;
    top: 1px;
    content: "";
    width: 70%;
    border-bottom: #FBC300 4px solid;
    border-radius: 25px;
    animation: bottomline 0.5s ease;
}
@keyframes bottomline{
    from{width: 10px;}
    to{width: 70%;}
}
#user-menu > button{
    border: 0px;
}
#user-nickname{
    color: #00b894 ;
    font-size: large;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}
#upload,#login{
    background-color: #FBC300;
    font-weight: bolder;
    color: white;
    width: 90px;
    border-radius: 5px;
}
#upload:hover,#login:hover{
    background-color: #6c5ce7;
    cursor: pointer;
}
#login{
    margin: 3px 5px;
    height: 30px;
    align-self: center;
    border: 0;
}
#user-head{
    transition: 0.1s;
}
#user-dropdown:hover #user-head{
    position: relative;
    transition:  all 0.1s linear;
    z-index: 10;
    transform: scale(1.5) translateY(15px);
    cursor: pointer;
}
#user-dropdown-content{
    border-radius: 10px;
    border: #dfe6e9 1px solid;
}
#menu{
    border-top:#dfe6e9 1px solid;
    padding-top: 5px;
}
#menu>li{
    color: #2d3436;
    padding: 5px 20px;
    cursor: pointer;
}
#menu>li:hover{
    background-color:whitesmoke;
    transition: 0.3s;
}
#login-menu{
    background: #00b894;
}
#login-menu > li{
    border-left: #2d3436 1px solid;
    cursor: pointer;
}
#login-menu > li:hover{
    background-color: #fd79a8;
}