body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    font-size: 80px;
    margin-top: 100px;
    width: 300px;
}
.search-bar{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45px;
}
.search-bar > .search-input{
    flex-grow: 1;
}
.search-bar > .search-submit{
    width: 90px;
}