body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content{
    position: relative;
    width: 90%;
    border: 1px solid whitesmoke;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
}
#head{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    left: 20px;
    border-radius: 5px;
}
#head::before{
    content: '修改我的头像';
    position: absolute;
    background-color: black;
}
#firstline{
    display: flex;
    margin-left: 150px;
}
#name{
    font-size: x-large;
    font-weight: bold;
    margin-right: 20px;
}
.edit{
    position: relative;
    top: 0px;
    font-size: small;
    align-self: center;
    color:mediumblue;
    cursor: pointer;
}
#back{
    position:absolute;
    right: 20px;
    color: gray;
    cursor: pointer;
}
#attributes{
    margin: 0;
    padding: 0;
    margin-left: 150px;
    list-style: none;
}
#attributes>li{
    display: flex;
    position: relative;
    border-bottom: 1px gainsboro solid;
    margin-right: 10px;
    padding-block: 20px;
}
#attributes>li>p:first-child{
    font-weight: bold;
    width: 200px;
}
#attributes>li>:nth-child(2){
    margin-right: 10px;
}
#tags{
    display: flex;
    flex-grow: 1;
    height: 30px;
    align-self: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
}
#tags:focus-within{
    outline: 1px solid black;
}
#tag-enter{
    flex-grow: 1;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    align-self: center;
    border: 0;
    height: 100%;
    border-radius: 5px;
}
#tag-enter:focus{
    outline: 0;
}
label[for=tag-enter]{
    position: absolute;
    color: gray;
    right: 25px;
    top: 35px;
}
.tag{
    align-self: center;
    background-color: #00b894;
    color: white;
    margin-block: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}